.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

nav ul a {
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

.navmd {
  background-color: white;
  padding: 0px 20px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 40px;
}

.icons li {
  display: inline-block;
  margin: 5px;
}

div#modal1 {
  height: 500px;
  width: 500px;
}

@media (min-width: 768px) {
  .icons {
    transform: translateY(390%);
  }
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #51b7a5;
}

.btn:hover, .btn-large:hover {
  background-color: #f84c00;
  color: white;
}

.btn,
.btn-large {
  color: white;
}

.btn,
.btn-large,
.btn-floating,
.btn-large,
.btn-flat {
  font-size: 0.9rem;
  outline: 0;
  padding: 0 1rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.card .card-reveal {
  height: auto;
}

footer ul {
  width: 100%;
}

.btn-floating i {
  width: auto;
}

@media(min-width: 768px) {
  .icons {
    transform: translateY(0%);
  }
}
